{% extends 'mainapp/index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Товары</title>
    <link href='{% static 'css/bootstrap.min.css' %}' rel="stylesheet">
    <link href='{% static 'css/register.css' %}' rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
</head>
<body>
<div class="main_block">
    <div class="main_block2">
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" width="80" height="60">
            <p class="logo_text">СК "NIRVANA"</p>
        </div>
        <div class="centre">
            <p class="main_text">Главная</p>
            <p class="main_text" id="tickets">Абонементы</p>
            <a href="{% url 'mainapp:tovari' %}" style="color:#FF0000; text-decoration:none">
                <p class="main_text" id="order">Товары</p>
            </a>
        </div>
        {% if not user.is_authenticated %}
            <div class="number">
                <a class="right_number" style="text-decoration:none" href="{% url 'authapp:login' %}">Авторизация</a>
                <a class="right_number" style="text-decoration:none" href="#">|</a>
                <a class="right_number" style="text-decoration:none" href="{% url 'authapp:register' %}">Регистрация</a>
            </div>
        {% else %}
            <div class="number">
                <a class="right_number" style="text-decoration:none" href="#">Избранное</a>
                <a class="right_number" style="text-decoration:none" href="#">|</a>
                <a class="right_number" style="text-decoration:none" href="{% url 'authapp:logout' %}">Выйти</a>
            </div>
        {% endif %}
    </div>
</div>
</div>
</body>
</html>
{% block content %}
    <link href='{% static 'css/register.css' %}' rel="stylesheet">
    <h3 class="d-flex justify-content-center mt-4">Товары</h3>
    <div class="obsh">
        {% for item in products %}
            <div class="cards m-3">
                <div class="mega_acc_mini">
                    <div class="mini_banka">
                        <img src="{{ item.img.url }}" width="85">
                    </div>
                    <div class="protein_mini">{{ item.name|capfirst }}</div>
                    <div class="price_btn_cash_mini">
                        <div class="price_mini">
                            <p class="price_wall_mini">Цена: {{ item.price }}</p>
                            <p class="cash_mini">{{ item.cashback }} руб.</p>
                        </div>

                        <div class="btns_product_acc_mini">
                            <div class="btns2">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Вкус</option>
                                    {% for taste in item.taste.all %}
                                        <option value="{{ taste.id }}">{{ taste.name|capfirst }}</option>
                                    {% endfor %}
                                </select>
                                {% if user.is_authenticated %}
                                    <div class="comments_form">
                                        <a href="{% url 'mainapp:add_favorite' item.id %}"
                                           style="color:white; text-decoration:none" class="btn_product2_mini">В
                                            избранное</a>
                                    </div>
                                {% else %}
                                    <a href="{% url 'authapp:login' %}"
                                       style="color:white; text-decoration:none" class="btn_product2_mini">В избранное
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}